In [1]:
import pandas as pd
import numpy as np
import sys

df = pd.read_csv('Analized Data.csv', sep=',');
print(df)

       Unnamed: 0           id    Datetime   TMAX   TMIN
0               0  MX000017004  1955-04-01  310.0  150.0
1               1  MX000017004  1955-04-02  310.0  150.0
2               2  MX000017004  1955-04-03  310.0  160.0
3               3  MX000017004  1955-04-04  320.0  150.0
4               4  MX000017004  1955-04-05  330.0  160.0
...           ...          ...         ...    ...    ...
12125       12125  MX000017004  2011-03-05  332.0  148.0
12126       12126  MX000017004  2011-03-10  320.0  127.0
12127       12127  MX000017004  2011-03-26  332.0  162.0
12128       12128  MX000017004  2011-03-31  365.0  170.0
12129       12129  MX000017004  2011-04-02  350.0  168.0

[12130 rows x 5 columns]

In [2]:
des = df.describe()
print(des)

         Unnamed: 0          TMAX          TMIN
count  12130.000000  11274.000000  11995.000000
mean    6064.500000    271.502217    145.283535
std     3501.773717     31.225344     23.444385
min        0.000000    110.000000      0.000000
25%     3032.250000    250.000000    130.000000
50%     6064.500000    270.000000    150.000000
75%     9096.750000    290.000000    160.000000
max    12129.000000    385.000000    290.000000

In [42]:
df2 = df.query('(TMAX - TMIN) > 238')
print(df2)

       Unnamed: 0           id    Datetime   TMAX  TMIN
11721       11721  MX000017004  2003-11-29  299.0  60.0

In [41]:
df3 = df.query('TMAX > 251.5 and TMAX < 291.5')
print(df3)

       Unnamed: 0           id    Datetime   TMAX  TMIN
11567       11567  MX000017004  2002-11-19  281.0  43.0
11738       11738  MX000017004  2004-02-03  286.0  55.0

In [37]:
df4 = df.query('TMIN > 130 and TMIN < 160')
print(df4)

       Unnamed: 0           id    Datetime   TMAX   TMIN
9181         9181  MX000017004  1990-06-14  374.0  138.0
11608       11608  MX000017004  2003-03-08  377.0  146.0